.logo {
    max-width: 250px;
}
.logo1{
    /* background: linear-gradient( 15deg, #06ff11 0%, #5ce356 60%, #5fffc1 60%, #ffcb66 60%, #ffae11 ); */
    height: 60px;
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.navbar {
    height: 10vh;
    background-color: #121212;
}

.toolbar {
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    height: 10vh;
}

.link {
    color: black;
    padding: 5px;
    font-weight: 400;
    margin-left: 30px;
    font-size: 20px;
}

.link:hover {
    text-decoration: none;
    color: #e4670c;
    transition: 300ms;
}

.link .active {
    text-decoration: none;
    color: green;
    transition: 300ms;
}